@import "tailwindcss";

@theme {
/* Breakpoints personalizados */
  --breakpoint-md: 620px;
  --breakpoint-mobile: 480px;

  /* Cores personalizadas (use o prefixo --color-) */
  --color-bagre-primaria: #020242;
  --color-bagre-secundaria: #ED3237;
  --color-bagre-terciaria: #f3f3f3;

  --text-bagre-secundaria: #ED3237;
}

/* Aproveitando que você está no CSS, vamos garantir que o body 
   não tenha scrolls estranhos por padrão */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita scroll horizontal */
  overflow-y: auto;   /* Garante o scroll vertical */
}